@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centerMap {
    width: 100%;
    display: flex;
    justify-content: center;
}

#map {
    width: 80%;
    height: 60vh;
    border-radius: 5px;
    overflow: hidden;
}

i {
    color: white;
    cursor: pointer;
    margin: 0px 5px;
    display: none;
}

button {
    margin: 5px;
    padding: 4px;
    border: 1px solid white;
    box-shadow: rgba(226, 221, 221, 0.954) 0px 1px 10px;
    color: white;
}

button:hover {
    border: 1px solid white;
    box-shadow: rgba(226, 221, 221, 0.954) 0px 1px 10px;
    color: white;
}

.botones {

    height: auto;
    display: flex;
    align-items: center;
    //flex-wrap: wrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    // background-color: aquamarine;
}

.botones::-webkit-scrollbar {
    display: none;
}

.centrar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

@media(max-width:480px) {
    i {
        display: block;
    }
}